*{
    margin: 0%;
    padding: 0%;
    /* remove the space in body */
}

body{
    background-color: rgb(255, 223, 187);
}

.container{
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
    font-size: 50px;
}

.outer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding: 10px;
    gap: 30px;
}

.button-list{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    border-radius: 10px;
}

.item{
    padding: 8px;
    background-color: #fca568;
    border-radius: 10px;
    border: none;
    font-size: bold;
}

#search{
    padding: 10px;
    border-radius: 15px;
    width: 250px;
    border: none;
}

#emoji-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 20px 30px 0px 30px;
}

.emoji-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: rgb(255, 223, 187);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
}

.emoji-cell:hover {
    transform: scale(1.2);
}
.emoji {
    font-size: 2rem;
    display: block;
}